[2017-11-21 18:29] bricelam opened #1 "Create the project"
I'll set up the initial project to create the NuGet package and stub out the implementation.

[2017-11-21 18:31] bricelam opened #2 "Migrations support"
We'll need to implement `IMigrationsCodeGenerator` to support adding a new migration.

[2017-11-21 18:32] bricelam opened #3 "Reverse engineer support"
We'll need to implement `IScaffoldingCodeGenerator` to support scaffolding a model from the database.

[2018-02-01 21:23] bricelam commented on #1
Working on this helped me figure out what changes we needed to make to EF Core itself. Now that those are done, I'll try and bring the project back up to date so we can release something that works with the upcoming preview of version 2.1.0.

[2018-02-05 04:58] bricelam commented on #2
cc @cartermp (FYI so you can track F# support for this in EF Core)

[2018-02-05 04:59] bricelam commented on #3
cc @cartermp (FYI so you can track F# support for this in EF Core)

[2018-02-05 05:01] bricelam commented on #1
I finished this work on [bricelam/EFCore.VisualBasic](https://github.com/bricelam/EFCore.VisualBasic). I just need to copy it over here with a minor tweak for `<CompileBefore>`.

[2018-02-06 05:15] bricelam commented on #1
Done. lol, I stumbled my way through the F# using the PowerShell and ActionScript parts of my brain.

After building the project, you should be able to simply install the package into an F# project and use `Scaffold-DbContext` or `dotnet ef dbcontext scaffold` as usual.

@simontaite, feel free to rebase on top of `master`. The APIs should remain stable for EF Core 2.1.0-preview1-final (expected so

[2018-02-06 05:15] #1 closed

[2018-02-06 17:31] bricelam opened #4 "Package doesn't set developmentDependency="true""
Need to add `<DevelopmentDependency>true</DevelopmentDependency>` to the project, or use a nuspec if that doesn't work.

[2018-02-06 17:34] bricelam opened #5 "Version 1.0 or 2.1?"
Should this package start at version 1.0.0 or should the version somehow indicate that it's compatible with EF Core 2.1+

[2018-02-07 08:49] simontaite commented on #5
I feel it would make more sense for a package version of 2.1 to be in line with EF Core
It's one less bit of mental gymnastics to have to do when looking at versions, especially in the future when upgrading to 2.2 and beyond

[2018-02-07 17:25] bricelam commented on #2
You may use the C# version as a reference implementation. See [CSharpMigrationsGenerator](https://github.com/aspnet/EntityFrameworkCore/blob/release/2.1/src/EFCore.Design/Migrations/Design/CSharpMigrationsGenerator.cs) and its subcomponents [CSharpMigrationOperationGenerator](https://github.com/aspnet/EntityFrameworkCore/blob/release/2.1/src/EFCore.Design/Migrations/Design/CSharpMigrationOperation

[2018-02-07 17:25] bricelam commented on #3
You may use the C# version as a reference implementation. See [CSharpModelGenerator](https://github.com/aspnet/EntityFrameworkCore/blob/release/2.1/src/EFCore.Design/Scaffolding/Internal/CSharpModelGenerator.cs) and its subcomponents [CSharpDbContextGenerator](https://github.com/aspnet/EntityFrameworkCore/blob/release/2.1/src/EFCore.Design/Scaffolding/Internal/CSharpDbContextGenerator.cs) and [CSh

[2018-02-08 08:42] isaacabraham opened #6 "Project doesn't build"
On checking out master, doing a `dotnet build` gives the following errors:

[code]

How can I fix this?

[2018-02-13 08:28] simontaite commented on #6
This appears to be caused by these lines in EFCore.FSharp.fsproj
[code]

If you comment them out then it should build, although it will not be signed.
This issue also prevents `dotnet build` from running on any non-Windows platform

@bricelam We'll need to find a way to sign the package in a more cross-platform friendly manner

[2018-02-13 17:24] bricelam commented on #6
Yes, I intend to address this. It think it will be fixed in the next version of the SDK. To workaround it, just remove those properties.

By default, it won't sign anyway. Those are just there for me so I can sign it before publishing release to NuGet.org.

[2018-02-20 16:47] isaacabraham commented on #6
FYI, to get this to build **in VS 2017** I also had to remove the line:

[code]

This wasn't needed to get it to build from the cmdline, though.

[2018-02-20 17:08] isaacabraham commented on #3
Just my two cents. It's been a while since I used EF - if possible, I'd recommend trying to stick with the standard set of types that F# devs use:

* Records
* Immutable fields (although I suppose that all the fields on the record will need to be `mutable` to work with things like change tracking)?
* If possible, discriminated unions for many-types-per-table style relationships (which would be mod

[2018-02-20 21:23] simontaite commented on #3
Depending on interoperability requirements we can create types as either records or class types, maybe depending on an input parameter. This is the approach I'm taking at the moment
Although if interoperability between C# and F# projects is a requirement it would make just as much sense to use C# for EFCore...

Good thinking regarding DU's for many-types-per-table style relationships, hadn't consi

[2018-02-21 09:13] simontaite opened #8 "Appveyor build"
Set up Appveyor build and configure config

[2018-02-21 09:13] simontaite opened #9 "Travis build"
Set up Travis build and configure config

[2018-02-27 08:36] simontaite commented on #8
Have created https://ci.appveyor.com/project/simontaite/efcore-fsharp
It is however blocked by #6

[2018-02-27 08:38] simontaite commented on #9
@bricelam
https://travis-ci.org/bricelam/EFCore.FSharp can only be enabled by an owner/admin

[2018-03-01 17:30] bricelam commented on #9
Activated.

[2018-03-05 09:38] EelcoMulder commented on #2
I would like to use this, so can I help with something?

[2018-03-05 10:43] simontaite commented on #9
Created https://travis-ci.org/bricelam/EFCore.FSharp
It is however blocked by #6

[2018-03-05 11:38] simontaite commented on #6
This is preventing Appveyor and Travis builds

[2018-03-05 17:26] bricelam commented on #9
This should be good now once we add the `.travis.yml` file. We may also need to add the following to the *.fsproj file:
[code]

[2018-03-05 17:28] #6 closed

[2018-03-05 17:28] #8 closed

[2018-03-05 20:11] #9 closed

[2018-03-06 18:48] bricelam commented on #5
Agree we should go with aligning to EF since this package will likely need to change with every new EF release.

[2018-03-06 18:50] #5 closed

[2018-03-06 18:54] #4 closed

[2018-03-11 20:37] simontaite commented on #2
@bricelam I'm working on wiring together the different parts of a migration
In C# we get <timestamp>_<MigrationName>.cs and <timestamp>_<MigrationName>.Designer.cs created as partial classes

F# doesn't support partial classes and an override can't be used in a type augmentation. Is there any design reason behind the decision to create migrations as partial classes?
Would there be a downside to cr

[2018-03-11 20:49] simontaite commented on #2
Hi @EelcoMulder
A lot of the groundwork has been done at this stage but any assistance is always welcome!
At the moment, one issue I'm trying to find a solution for is how to handle adding the generated migrations to the .fsproj file in the correct location for compliation

Any ideas on how this could be approached would be very much appreciated!

[2018-03-12 07:48] EelcoMulder commented on #2
@simontaite I think the C# approach should work here too, looking at https://github.com/odytrice/PluralsightDownloads/tree/master/PlaybyPlayEFCore10/FSharp/myapi

[2018-03-12 16:10] bricelam commented on #2
No, we really just use the `*.Designer.cs` files as a *don't touch this code* marker, but there are plenty of other ways to communicate that.

We might need to file an issue on EF to not write the designer file if the contents are empty.

[2018-03-12 16:24] simontaite commented on #2
Awesome! Shall have a look at how to pass the necessary parameters from both methods to one, hopefully will still be able to use the `MigrationsCodeGenerator` base class

Copying everything from the Designer file to the other works for building but `dotnet ef migrations script` throws an error, both normally and trying to create the context via an `IDesignTimeDbContextFactory`

[code]

Not sure ye

[2018-03-12 16:47] bricelam commented on #2
That error is complaining about the `DbContext` constructor. See [Design-time DbContext Creation](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dbcontext-creation)

[2018-03-13 16:18] simontaite commented on #2
Thanks, will look into that and hopefully get a fully working migration soon

For automatically adding migration files to the fsproj, we may be able to utilise https://github.com/fsprojects/Mechanic

[2018-03-13 16:19] simontaite commented on #2
Also, will keep an eye on https://github.com/Microsoft/visualfsharp/pull/4499
If this make it into the language soon it would simplify column definition in `CreateTableOperation` a lot

[2018-03-13 23:49] dsyme commented on #2
@simontaite It would be really great if you could trial https://github.com/Microsoft/visualfsharp/pull/4499 to see if it works for this scenario. Validating that language addition for a few real-world uses of anonymous types by .NET frameworks is one of the remaining things needed to get it accepted .

[2018-03-15 16:16] simontaite commented on #2
Looks like I may have to reimplement `MigrationsScaffolder` after all. Once all the migration is moved to a  single file it generates a migration script, still a few bits to do but it's nice to see it creating the `CREATE TABLE` script correctly with indexes and keys

The population of __EFMigrationsHistory isn't quite correct though, it's not writing the values to SQL as string literals
[code]

[2018-03-15 16:17] simontaite commented on #2
@dsyme Now that I actually have a migration I can (more or less) trust I'll be looking at trialing Microsoft/visualfsharp#4499 in the next day or two

[2018-06-13 09:28] simontaite commented on #2
@dsyme A migration builds correctly with anon types in VS2017
I can't build or script the migration through the command line by running `dotnet ef` as I have been unable to correctly use the EF Core build from [dsyme/visualfsharp/anon-1](/dsyme/visualfsharp/tree/anon-1) from the command line

[2018-06-13 10:59] dsyme commented on #2
Do you mean you haven't been able to use the freshly built F# compiler from that branch? Setting `<FscToolPath>` to `c:\Git\visualfsharp\debug\net40\bin` (or whatever) in a PropertyGroup may help with that?

Or is the problem picking up a new FSharp.Core?  If so use an explicit `<Reference>`?

[2018-06-13 11:37] simontaite commented on #2
I've set FscToolPath, when I try running `dotnet build` I get the following
[code]

I can build and create an EF migration using the normal .NET Core installation
I can then comment out the types created for migrations like

[code]

Setting the FscToolPath then allows me to build in VS2017 with anon types.
But trying to build using `dotnet build` still fails

I've ran .\src\buildfromsource.cmd to

[2018-06-13 13:01] dsyme commented on #2
Ah, I think you need to set both FscToolPath and

    <FscToolExe>fsc.exe</FscToolExe>

[2018-06-13 13:03] simontaite commented on #2
That's it, thank you very much!
Builds and creates a valid migration script!

[2018-06-18 04:54] darting opened #17 "Sample project?"
Hi @bricelam may I know any plan to create some sample projects?
Thanks

[2018-06-18 15:48] bricelam commented on #17
I think don't think the implementation is finished. When it is, we'll publish a NuGet package. Once you install that package, the Scaffold-DbContext and Add-Migrations commands will just work for F# projects.

[2018-08-09 18:18] greenboxal commented on #2
What's the current status on this? We're going to use EFCore + FSharp a lot here. If there's anything pending in order to be 100%, we can help.

[2018-08-10 08:25] albertwoo commented on #2
I tried to build this project and reference it but still not able to do: dotnet ef migrations add Test

[2018-08-10 17:33] greenboxal commented on #2
I got it working, had to do a couple fixes in order to get Npgsql working. Will send a PR soon, basically indentation errors and missing namespaces.

[2018-08-10 17:49] simontaite commented on #2
Awesome! Thanks very much. I'm afraid I haven't been able to do much on this project over the last while due to some family matters but hoping to be able to get back to working more on it soon
Any PRs to help fix issues or add functionality is always welcome!

Regarding getting to be 100% I would like to push on adding tests to mirror what's in [EntityFramework](https://github.com/aspnet/EntityFra

[2018-08-10 18:16] EelcoMulder commented on #2
For option types  someone did this: https://blog.bitbadger.solutions/2018/f-sharp-options-with-ef-core.html

[2018-08-11 23:10] simontaite commented on #2
Sweet! Thanks for that @EelcoMulder!

[2018-08-22 21:55] cartermp opened #18 "Use of byref in Migrations branch"
This was brought to my attention in this thread: https://forums.fsharp.org/t/how-to-work-with-byref-and-pipe-operator/417/7

In the migrations branch, it appears there is usage of `byref`. Of that, there are 14 places where that usage is invalid; i.e., it produces code that _may_ run, but is not necessarily _going_ to run. These seem to all be of the following variety:

[code]

This is explicitly

[2018-08-23 12:55] simontaite commented on #18
Hi @cartermp
Thanks for this, will update to remove usages of `byref`

[2018-08-23 15:35] cartermp commented on #18
Well, perhaps `byref` is more appropriate (depending on whichever is less invasive). There's also technically less overhead, since it's just a pointer, whereas a ref cell is an F# record that contains a mutable value inside. But it would mean that some of the pipelining that is done won't compile with F# 4.5.

[2018-09-07 12:28] simontaite commented on #18
Latest commits on migration-support branch update code to use `ref` instead of `byref` or drop usage of either

[2018-09-07 12:28] #18 closed

[2018-10-01 18:12] bricelam opened #19 "React to aspnet/EntityFrameworkCore#13440"
See PR aspnet/EntityFrameworkCore#13440. Languages will need to be able to generate code for a few prescribed `Expression` patterns.

[2019-01-07 19:36] EelcoMulder commented on #2
I can build this but I have no clue how to use this, I want to contribute but might need some pointers?

[2019-01-07 21:09] bricelam commented on #2
@EelcoMulder Should be able to just add a reference to the project/assembly and add the following to project.
[code]

[2019-01-07 21:10] bricelam commented on #2
Then `dotnet ef migrations add` (or `Add-Migration`) should just work as expected.

[2019-01-08 18:35] EelcoMulder commented on #2
Can't get it to work, shouldn't the build.cmd register it as a global tool? I don't think my project uses the correct dotnet ef right now?

[2019-01-08 19:51] simontaite commented on #2
@EelcoMulder

It's currently using EF 2.2
build.cmd will output a nupkg file, you can reference it from your own project by adding the output folder to NuGet.config or packet.local depending on which your using

I'm on mobile at the moment but can get an example to you soon

[2019-01-08 20:54] simontaite commented on #2
Hi @EelcoMulder

I've got a simple project on my machine that I can clean up sometime in the next day or two and publish as a working example

In the meantime here's the `paket.dependencies` file
[code]

You can then add a `paket.local` file
[code]

[2019-01-09 08:09] EelcoMulder commented on #2
Will look at it later because it didn't work just yet, so that example would be nice!

[2019-01-12 09:14] simontaite commented on #2
Hi @EelcoMulder
The example is here https://github.com/simontaite/EFCore.FSharp.MigrationTest

Just update the paths in `paket.dependencies` and `paket.local`, and the connection string in `Startup.fs`

It's set up to use Postgresql but should be easy enough to change to SQL Server or any other
Let me know if you need any help with it

[2019-01-12 09:18] EelcoMulder commented on #2
Ah thanks, last night I got as far as creating a migration for Sql Server, only couldn't apply the migration just yet. Will take a look at your example!

[2019-01-12 18:00] EelcoMulder commented on #2
I got my own example working with Sql Server, awesome!

[2019-01-14 17:54] bricelam commented on #2
Where is the migrations implementation at? Can we put an alpha of it up on NuGet.org yet?

[2019-01-14 17:55] bricelam commented on #3
Where is the reverse engineering implementation at? Can we put an alpha of it up on NuGet.org yet?

[2019-01-15 15:32] simontaite commented on #2
Migration support is enough to justify an alpha release

[2019-01-15 15:33] simontaite commented on #3
Haven't worked on reverse engineer support in a while so will have to double check later when I get a chance but if it's not good for alpha it shouldn't take long to get it there

[2019-01-16 08:10] EelcoMulder commented on #2
@simontaite are you going to blog about it? I had planned to revisit my own blog about ef core with F#, would love to write a little about this.

[2019-01-17 14:07] simontaite commented on #3
@bricelam
Looking into this at the moment and getting this error
`Unable to resolve service for type 'Microsoft.EntityFrameworkCore.Scaffolding.ProviderCodeGenerator' while attempting to activate 'Bricelam.EntityFrameworkCore.FSharp.Scaffolding.FSharpDbContextGenerator'`

This is testing using Postgresql, a C# project performs the scaffold correctly

The issue appears to be here
https://github.com

[2019-01-17 23:08] bricelam commented on #3
One from the user’s startup assembly. There can be multiple registered via DesignTimeServicesReferenceAttribute. The msbuild script adds this attribute to the startup project.

[2019-01-25 21:22] simon-reynolds opened #20 "Automatically add generated files to fsproj"
Both scaffolding and creating migrations results in new files being added to the project

Unlike C# the compilation order of F# is important so we will need to add them to the fsproj in the appropriate place within the project

Currently any generated files have to be added to the fsproj file manually

[2019-01-25 21:26] simon-reynolds opened #21 "Add support for many types per table relationships"
These models were related types are all stored in one database table using a discrimator column would traditionally be modelled in C# using inheritance

They should be modelled as Discrimated Unions in F#

Example:

C#
[code]

F#
[code]

[2019-01-25 21:30] simon-reynolds opened #22 "Add unit tests"
The project currently has poor unit test coverage and this has to be improved
Adding this ticket to track this work

[2019-01-25 21:34] simontaite commented on #3
Was able to scaffold the Northwind database without issue
At this stage I feel an alpha release can be justified

Caveats
#20 - generated files are not added to the project by default
#21 - many-types-per-table relationships are not currently supported

While #20 would not necessarily block an **alpha** release it is definitely something to be addressed soon as it is a major usability issue. We sh

[2019-01-25 21:35] simontaite commented on #2
Have created #23 to merge these changes

[2019-01-25 22:05] simontaite commented on #19
The `HandleExpression` code has been ported but the call to it in `UnknownLiteral` still has to be done

[2019-01-28 08:55] simontaite commented on #2
Initial support added
Everything from here on will be a new ticket

[2019-01-28 08:55] #2 closed

[2019-01-28 08:55] simontaite commented on #3
Initial support added
Everything from here on will be a new ticket

[2019-01-28 08:55] #3 closed

[2019-01-28 08:56] #19 closed

[2019-01-29 14:36] simontaite opened #24 "Optional properties requiring manual configuration when adding migration"
An `option` type indicates nullability, it is not to be interpreted as an entity type by itself

[code]

[2019-01-29 15:17] simontaite commented on #24
This can be resolved by adding the following to`DbContext.OnModelCreating`

[code]

Having to manually add it to for each optional property in an entire domain could be a long task
We need to find a way to automatically achieve this functionality

[2019-03-03 12:40] xperiandri opened #26 "Detailed project description"
What does `design time support` means in terms of EF.Core?
Could you add some explanation, please?
What can I do with this package?
Create migrations and scaffold database?

[2019-03-08 22:24] bricelam commented on #26
Yep--all the design time support in EF Core a language might require. 😉

But yeah, this repo needs some love. Sometime (no idea when) I plan to sit down and publish a prerelease package to NuGet.org. I'll also clean up the README a bit and write a blog post about it.

[2019-03-08 22:59] xperiandri commented on #26
Sounds excellent

[2019-04-15 21:40] RonaldDijks opened #27 "What needs to happen for a release on NuGet."
What are the things that still need to happen before this could be published to NuGet, and do you need any help with that? Would love to use this in projects in the future and if you could use it I would be happy to help out :)

[2019-04-17 16:49] bricelam commented on #27
@simontaite Is the code ready to go? (for an alpha1 release) If so, I'll schedule some time to build, sign, and publish it...

[2019-04-17 17:01] simontaite commented on #27
@bricelam, `master` is currently good for an alpha1 release, currently targeting EF 2.2

@RonaldDijks, any help at all is appreciated. I'm particularly interested in any ideas that you may have regarding #20

[2019-04-17 17:32] simontaite commented on #27
@bricelam, could you hold off for a couple of hours actually? Think I might have #24 almost working, will let you know soon. Would be good to be able to include automatic registration of converters for `option` types

[2019-04-17 17:34] bricelam commented on #27
lol, hours? I wasn't even thinking about starting for at least a couple of days! 😉

[2019-04-17 17:35] simontaite commented on #27
That gives me plenty of time then, nice one!

[2019-04-18 22:27] sdwatkinsdev commented on #27
I'm extremely excited for this. I invested a lot of time a few months ago building an F# web app with no persistence layer, thinking "it's all just .NET under the hood, of course EF will just work when I'm ready for it". I congratulated myself for avoiding the overhead of clobbering/recreating the DB in the early stages when everything was in flux. But then I tried to add EF and everything went im

[2019-04-22 11:33] RonaldDijks commented on #20
This might be something we cannot get around without considerable work. If we were to also generate the includes, we'd have to either:

1. Make assumptions about the project structure and order of imports.
2. Actually figure out the order of imports, which probably would be doable buy waaaay outside of the projects scope at the moment.

I think that if we mention it in the docs, it would be fine,

[2019-04-22 17:34] bricelam commented on #27
See also https://github.com/aspnet/EntityFrameworkCore/issues/10731

[2019-04-22 20:32] bricelam commented on #20
Can we just update [Bricelam.EntityFrameworkCore.FSharp.targets](https://github.com/bricelam/EFCore.FSharp/blob/master/EFCore.FSharp/build/netstandard2.0/Bricelam.EntityFrameworkCore.FSharp.targets) with this:?

[code]

[2019-04-22 20:35] bricelam commented on #20
Well, probalby with some hooks for those who deviate from the defaults...

[code]

[2019-04-22 20:39] bricelam commented on #20
We may even be able to warn when they deviate. Something like...

[2019-05-01 21:12] simontaite opened #29 "Exception with optional navigation properties"
Attempting to register optional properties automatically (#24) results in the following error in the Northwind database

[code]

Optional navigation properties need to be supported, mapping from `int option` to `int` and `TEntity option` to `TEntity` will need to be added

[2019-05-02 14:46] #24 closed

[2019-05-02 17:41] bricelam commented on #29
cc @AndriySvyryd in case he has any pointers

[2019-05-02 17:59] AndriySvyryd commented on #29
We would need to add explicit support for this in Core to get a nice experience.
The best workaround I can think of is to use a `Nullable` private field that is wrapped by the optional property. Then configure the relationship to use the field and ignore the property.

[2019-05-24 08:56] WalternativE commented on #24
Could it be that this feature broke recently? I'm currently trying to debug why the extension method does not catch `Option` types anymore. Filtering the entity properties always results in an empty collection. Inspecting the types shows me that EF already created properties with `TempId` suffixes. I tried to find some info on this behavior but I'm unfortunately lost. Do you have a pointer in the

[2019-05-30 18:28] ahartman00 opened #30 "Nullable needed on some column parameters"
When creating a column, the unicode, maxLength, and fixedLength parameters need to be wrapped in Nullable().  I am generating migrations for sqlite.

Column: `member val Gloss:string = "" with get, set`
Example before:  `table.Column<string>(unicode = false)`
after:  `table.Column<string>(unicode = Nullable(false))`

[2019-05-30 18:29] ahartman00 opened #31 "Type is a reserved word in F#"
When generating migrations for sqlite, some columns have a "type" parameter.  Since the function is called using named parameters, you end up with: `table.Column<decimal>(nullable = false,type = "decimal(10, 0)", defaultValueSql = "('0')")`.  This generates a FS0010: Incomplete structured construct error, since type is a reserved keyword.

The only thing I can think of is just to call the function

[2019-06-20 13:08] Tarmil commented on #31
You can escape identifiers by wrapping them in double backticks:

[code]

[2019-06-28 14:03] nikolaipaul commented on #27
So what's the current state of affairs?

[2019-06-28 20:34] bricelam commented on #27
Sorry, swamped trying to land the EF Core 3.0 and EF 6.3 releases...

[2019-07-05 09:29] simontaite commented on #31
Have added a check when writing the parameter name that will wrap it in double backticks if it is an F# keyword

[2019-07-05 09:43] #31 closed

[2019-07-05 14:07] #30 closed

[2019-07-05 14:07] simontaite commented on #30
Closed by #33
Nullable values now written as `table.Column<string>(unicode = Nullable(false))`

[2019-12-15 23:49] metatron-the-chronicler opened #34 "How do you use this?"
How do you use this to generate migrations in an Fsharp project? I built the code (Edited global.json to use dotnet core 3.0) but I don't see an assembly in the resultant artifacts.

[2020-01-17 21:12] DurdSoft opened #35 "ContextModelSnapshot missing open statement for PostgresSQL"
With PostgreSQL an open statement for `Npgsql.EntityFrameworkCore.PostgreSQL.Metadata` is required or the generated code will not build.

[2020-01-17 21:24] DurdSoft commented on #34
Theres a small installation guide in my PR: https://github.com/bricelam/EFCore.FSharp/pull/36. You'll need to make sure you're using EF Core 2.2.

[2020-01-26 03:31] metatron-the-chronicler commented on #34
@DurdSoft Thank you I will take a look at your PR.

[2020-01-26 12:24] DurdSoft commented on #34
I have also [forked](https://github.com/DurdSoft/EFCore.FSharp) the repo and added support for ef core 3.1. Hoping to put some work in to fix the update issues but no promises 🤞

[2020-01-26 15:49] NinoFloris commented on #34
@DurdSoft very nice to hear that, do you think it's something you can push as a PR at some point?

[2020-01-26 16:20] DurdSoft commented on #34
Once I'm happier with the quality, sure 😅

[2020-06-24 12:24] TheSchemm commented on #27
Is this still going to happen soon?

[2020-06-24 19:51] simontaite commented on #27
I can't give a timeframe, currently focussed on targeting .NET Core 3.1
Would hope to have a release soon though, haven't been able to give this project much attention recently but have come back on it now

[2020-06-24 20:07] DurdSoft commented on #27
@simontaite I did a lot of the manual work upgrading from (I think) 2.1 -> 3.1 in the repo [here](https://github.com/DurdSoft/EFCore.FSharp).

I think I may have trashed some of the stuff to do with packet etc. However, the main work is located to a few files. I also extended some of the unit testing, including building the generated code. I tried to follow the "spirit" of the OO C# sources as tha

[2020-06-24 20:41] simontaite opened #38 "Migrate from Travis CI to GitHub Actions"
@bricelam

The Travis CI build is linked to bricelam/EFCore.FSharp, to restore build tests for it we can create a new build pointing to efcore/EFCore.FSharp but I don't have the necessary permissions to do that

[2020-06-24 20:42] simontaite opened #39 "Rename namespaces following project migration"
After migration we should change namespaces and package names from Bricelam.EntityFrameworkCore.FSharp to EFCore.FSharp

[2020-06-25 06:15] simontaite commented on #27
@DurdSoft
No worries about wrecking paket. I've merged your PR and thank you for the work you've done in upgrading to 3.1 and especially around the unit testing!

Working on fixing paket now and I've got it all building almost perfectly on my own machine so will be pushing some updates either later today or tomorrow

[2020-06-26 17:18] bricelam commented on #38
Should we just use GitHub Actions instead?

[2020-06-26 19:06] simontaite commented on #38
Sounds good to me, I'll update this issue to reflect that

[2020-06-26 22:02] #38 closed

[2020-06-29 20:10] bricelam commented on #39
Let's do EntityFrameworkCore.FSharp for the package, assembly, and root namespace. Directories, solution, and project can remain just "EFCore" for brevity.

[2020-06-29 20:44] bricelam commented on #39
Also feel free to remove any code signing code leftover in the build. I let my certificate expire, and it was probably just overkill to begin with.

[2020-06-30 20:34] simontaite commented on #39
Closed by #41

[2020-06-30 20:34] #39 closed

[2020-07-10 23:30] isaacabraham opened #42 "Can't create a migration"
Created a basic EF context (blogs and posts). Trying to create a DB from it:

1. Downloaded this repo.
1. Ran `build.cmd`
1. Referenced the generated nuget package from my application using paket.
1. Installed the ef tool locally into my app.
1. Run `dotnet ef migrations add InitialCreate`.
1. Error: The project language 'F#' isn't supported by the built-in IMigrationsCodeGenerator service. You ca

[2020-07-11 11:07] DurdSoft commented on #42
I'm not sure what's changed, but you'll need to tell EF to register the FSharp dependencies (perhaps this is automatic in ASP?), which requires a class defined somewhere in the project:

[code]

[2020-07-11 13:10] isaacabraham commented on #42
Cool, that worked - thank you.

I would do this but I'm not qualified to do so: please add a *basic* readme to this repository. It doesn't even say what the repository is for, let alone how to use it :-) It'll take 10 minutes to put something very simple together, and perhaps even a basic "hello world" for a migration - will save people trying this out a lot of time :-)

[2020-07-11 13:10] #42 closed

[2020-07-11 13:11] isaacabraham opened #43 "Generated migration does not get added to the project."
After you create a migration, you have to manually add it to the solution in order for the dotnet ef migration command to work, otherwise it doesn't detect it.

[2020-07-11 13:12] isaacabraham opened #44 "Generated migration file does not compile"
A newly-created migration has an `open` statement at the top of the file but no namespace or module. This isn't valid F# and must be deleted before it compiles.

[2020-07-11 13:13] isaacabraham opened #45 "Create a basic readme"
Create a basic readme that explains:

1. What this repository is for. What does it do, who should use it?
2. A basic hello world for creating a migration from start to finish.

This would greatly assist people who come across this repository.

[2020-07-11 16:31] drk-mtr commented on #45
I'll have a go at the latter, will post something later today but I'll need someone to sanity check it as I'm a beginner. So happy to see this in alpha now, really appreciate the work that Simon, Brice, DurdSoft & co. have put in.

[2020-07-11 18:56] drk-mtr commented on #45
If someone lets me know where in the repo this should go I'll put in a PR. It'd be good if someone can give it a once over though, since I'm a beginner and may well be suggesting bad practices here!

---

# Notes

This guide is for a simple single-project setup rather than a production-ready topology, however it should hopefully assist with the basics.

# Prerequisites

This guide assumes:

- You

[2020-07-11 18:59] drk-mtr commented on #44
I think I'm only seeing this on Windows but I haven't tested much.

[2020-07-12 08:46] DurdSoft opened #46 "Scaffolding from an existing database generates incorrect HasIndex calls"
**Describe the bug**
Scaffold project from an existing database schema causes un-compilable `HasIndex` calls.

**To Reproduce**
Steps to reproduce the behavior:
1. Scaffold from an existing database with indices, e.g. `dotnet ef dbcontext scaffold <connection string> <ef provider>`
2. Generated code makes invalid calls to `HasIndex(...)`:
[code]

**Expected behavior**
Generated code should be:
[co

[2020-07-12 11:27] DurdSoft opened #47 "When scaffolding from database, string literal arrays are not generated"
**Describe the bug**
A string literal array is generated as `System.String[]` not as the actual values, e.g. `[| "A", "B" |]`.

**To Reproduce**
Scaffold from an existing database that will require a string literal array, e.g. enumeration.

**Expected behavior**
Array values generated correctly and able to be compiled.

[2020-07-12 11:32] DurdSoft opened #48 "Scaffolded DbContext has unnecessary indentation"
**Describe the bug**
Scaffolding from an existing database causes strange indentation:

[code]

**To Reproduce**
View the source code that is passing the test in `FSharpDbContextGeneratorTest`

**Expected behavior**
Code to look like:

[code]

[2020-07-12 13:58] isaacabraham commented on #45
Great stuff. I think this is a really good start. The only suggestion I have is a simple "Introduction" section - what is this repository? What's it for, what does it do, who is it for?

[2020-07-12 14:02] DurdSoft commented on #44
This happens when the `DbContext` is not in a namespace.

`contextType.Namespace` here: https://github.com/efcore/EFCore.FSharp/blob/12457eb3cf522db122ba134ddda2570a7f7595d2/src/EFCore.FSharp/Migrations/Design/FSharpMigrationsGenerator.fs#L264 is null in that case and gets appended as such to the sequence.

Fix is as simple as adding `|> Seq.filter (isNull >> not)` to the end of the line - I've op

[2020-07-12 16:27] DurdSoft commented on #43
This is quite challenging, for a few obvious reasons and some more subtle:

- Order of files matters in F#. E.g. these migrations need to be inserted below the declaration of the `DbContext`.
- There's no easy way of knowing the source file containing the `DbContext` or if it is the correct `DbContext`.
- There could be multiple .fsproj files in a single directory.
- Any solution needs to work cro

[2020-07-12 16:50] baronfel commented on #43
@DurdSoft few quick notes after briefly looking at your fork. First off, great job knocking out these getting-started issues!

* I'd look at using `dotnet-proj-info` for 'project file cracking', aka finding out information about the structure and contents of a project file. It's used in several other projects that need information about this and is sorta the go-to for consistent, correct results.

[2020-07-13 10:22] DurdSoft commented on #43
Thank you for the link to that project, that would certainly help us with the file schema. Certainly we could look at how Ionide manages this. I'm not sure about enforcing a structure - EF is already very opinionated!

However, that still leaves a few issues I can think of off the top of my head that make a holistic solution difficult:

- We don't know the file containing the derived `DbContext`.

[2020-07-13 10:44] isaacabraham commented on #43
I think @baronfel idea re: globbed folder is the way to go. Worst case it's a one-off move of the folder in the project hierarchy the first time and after this it'll just work.

[2020-07-13 11:58] #44 closed

[2020-07-13 12:01] simontaite commented on #43
Migrations are created with a timestamp in the filename as is so they would be automatically sorted correctly with globbing
I think that could be the best approach alright

[2020-07-13 12:05] #46 closed

[2020-07-13 12:05] simontaite commented on #47
Closed by #51

[2020-07-13 12:05] #47 closed

[2020-07-13 12:06] simontaite commented on #48
Closed by #51

[2020-07-13 12:06] #48 closed

[2020-07-13 12:19] simontaite commented on #45
@drk-mtr
That is outstanding, thank you so much for the work you've done on that!

If you want to create a PR, you can either add it to the README.md file in the project root under the NuGet badges or maybe add it as a separate GETTING_STARTED.md and add a link to the README?

#44 has been resolved via #50 so that note shouldn't be needed any more

[2020-07-13 12:50] drk-mtr commented on #45
Fantastic, thanks Simon. Felt like the least I could do after all the work you guys have put in.

I'll do this `add it as a separate GETTING_STARTED.md and add a link to the README` when I'm out of work to avoid the main README becoming cluttered.

[2020-07-13 18:09] drk-mtr commented on #45
Done, cheers again. I imagine #34 can probably be closed too.

[2020-07-14 12:23] simontaite commented on #45
Closed by #52

[2020-07-14 12:23] #45 closed

[2020-07-14 12:23] simontaite commented on #34
Closed by #52

Please see our new [getting started guide](https://github.com/efcore/EFCore.FSharp/blob/master/GETTING_STARTED.md)

[2020-07-14 12:23] #34 closed

[2020-07-14 13:02] isaacabraham commented on #45
I would strongly advise leaving it in the readme as this is automatically shown in GitHub on the home page of this repository and will be the first thing that people read.

[2020-07-14 17:42] #35 closed

[2020-07-14 19:15] simontaite commented on #35
@DurdSoft, is this no longer an issue?

[2020-07-15 18:06] allistercsmith commented on #27
Any thoughts/feedback on what's left for a NuGet release? Sounds like some very positive progress being made above (and with other recent commits) 💪

[2020-07-15 19:05] DurdSoft commented on #35
I tested it against the C# equivalent code and it produced the same result.

[2020-07-15 23:09] drk-mtr commented on #45
I guess this is subjective - I think the "developing the library" instructions should live in a different place to the "using the library" instructions. Since I haven't built the library, I didn't want to mess with the build instructions and instead just referenced the getting started at the top.

You could arguably remove the `docsSrc` folder (if it's not going to be used), tidy the main readme a

[2020-07-16 07:17] simontaite commented on #45
I'm more than happy for the "building" and "development" instructions to be swapped around

I'm working on using the `docsSrc` folder for building what will become the GitHub pages site for the project so I wouldn't remove that

[2020-09-29 14:01] reinert opened #53 "Build error: The "PackTask" task returned false but did not log an error."
I'm trying to build this repo in Ubuntu 20.04 but I get the following error:

[code]
Can you help me?

[2020-09-29 14:03] baronfel commented on #53
This is an upstream issue with nuget, see [this issue](https://github.com/NuGet/Home/issues/9786) for workarounds. This should be fixed with .net 5.0 preview 2.

[2020-09-29 14:34] reinert commented on #53
True, it's a temporary bug from nuget.

The workaround is to edit .paket\packet.restore.targets file and comment out the <ContinuePackagingAfterGeneratingNuspec>false line

Then, just make a dotnet fake build without reinstalling paket.

Thank you @baronfel for your quick help

[2020-09-29 16:03] #53 closed

[2020-09-29 16:08] reinert opened #54 "Add a CRUD example to Getting Started doc"
First of all, thank you very much for this project.

Very useful.

I'm a newcomer in the F# world and I'm trying to use EF along with F# models. I could make trough every step in the Getting Started section successfully. But I do not have enough knowledge to put pieces together yet. So I would like to ask you to add a simple CRUD example with the created Post model in the Getting Started article.

[2020-09-29 18:53] simontaite commented on #54
Hi @reinert,

Thank you for the feedback, I'm glad you're finding the project useful
A CRUD example is something that we definitely need. I'm happy to look at creating one, I've been meaning to add and expand documentation for the project as I can

I can't offer an exact timeframe on it at the moment but it's definitely something I'd want to add sooner rather than later

[2020-09-29 18:57] reinert commented on #54
@simontaite Thank you very much for your reply!

Could you at least put a few lines of code here showing how to instantiate a Context and inserting a Blog Post? As also getting all records from database.

I really only need it for now.

Please :)

[2020-09-29 18:58] reinert commented on #54
I tried the following, but no success:

    using (new BloggingContext()) (fun ctx ->
        let b = ctx.Blogs.Find(1)
        printfn "%s" b.Url
    ) |> ignore

[2020-09-29 19:24] simontaite commented on #54
To instantiate a context and then query it you can use something like
[code]

Don't forget though that even though it's not very functional, if were an MVC controller for example, you would also be able to inject the context as a constructor parameter and let the framework handle creating the context for you

To insert an entry you would want to do something like
[code]

It's a little trickier to

[2020-09-29 19:48] reinert commented on #54
Thanks @simontaite !

I notice that context.Posts DbSet is null after instantiating the Context.

I guess this is related to the IoC.

Do you know how could I get an instance of the DbContext from Service provider?

[2020-09-29 20:16] reinert commented on #54
There is a problem in declaring DbSet as members.

This [SO answer](https://stackoverflow.com/a/43357781) helped me solve it.

[2020-09-29 20:35] simontaite commented on #54
Thanks, I'll make sure to update the documentation to include that

[2020-09-29 21:26] reinert commented on #54
This is my BloggingContext working version:

[code]

[2020-09-29 21:26] reinert commented on #54
A simple working CRUD:

[code]

[2020-09-30 09:35] simontaite commented on #54
Hi @reinert
That's a great example! Thank you so much.
You ok with me using this in our documentation?

[2020-09-30 12:31] reinert commented on #54
Yes, sure! I really appreciate your awesome work in this project! It's a pleasure to contribute!

[2020-09-30 17:53] reinert opened #55 "migrationBuilder.AlterColumn miss argument construction"
A migration was generated with the inconsistent code below:

[code]

Notice there is two 'oldType' arguments. I searched in Microsoft docs and found this method signature. Than I found a similar argument called 'oldClrType' and changed `oldType = "typedefof<int>"` to `oldClrType = typedefof<int>` and the migration code could be executed.

I don't know why. It was pure intuition. I'm just reporting

[2020-10-02 18:29] simontaite commented on #55
Thanks @reinert, I'll look to get that fixed when I can

[2020-10-05 11:53] simontaite commented on #55
Fixed in 63822f4d12f64f99c24c12913f85c9937140c934

[2021-02-17 08:46] tomiaijo opened #56 "EF Core 5 support"
**Is your feature request related to a problem? Please describe.**
Is support for EF Core 5 planned? Seems like some of the interfaces have changed.

Output of running against EF Core 5.0.3 project:

[code]

[2021-02-17 10:25] DurdSoft commented on #56
There's a series of API changes from 3.1.x -> 5.x that'll need to be figured out:

[code]

[(also I'm getting a stackoverflow problem with paket)](https://github.com/fsprojects/Paket/issues/3907)

It shouldn't be a huge change. The code structure roughly follows the C# implementation so it should be a case of side-by-siding and figuring out how the API has changed.

As there has never been a nuget

[2021-02-17 11:19] simon-reynolds commented on #56
Hi, support is planned, and slowly in progress
I've created a branch https://github.com/efcore/EFCore.FSharp/tree/net5.0 that targets the latest version of EF Core (5.0.3)

So far it's just getting everything targeting NET 5.0, I've handled the `Type.GetNamespaces()` API change but everything else is still in progress.
@DurdSoft, thanks for the list above, I'm happy to work through them with you a

[2021-02-18 08:39] DurdSoft commented on #56
I think the 2 main pain points will be:

- Annotations - some have been removed, others deprecated. I'm not sure if there's a reason why we didn't or don't just use `IAnnotationCodeGenerator` and the DB specific implementations in EF Core? This would put `FSharpMigrationsGenerator` and `FSharpDbContextGenerator` on a diet.
- `Multigraph<T>` has been made internal. This seems to be important in mak

[2021-02-18 10:10] simon-reynolds commented on #56
Because when I first started working on this back in the 2.x days, `IAnnotationCodeGenerator` didn't exist 😄
I'm currently working through `FSharpDbContextGenerator` at the moment and yeah, it's definitely going to be losing a lot of complexity

Trying to figure out the best way to handle `Multigraph<T>`, shall have to see what we can come up with
Maybe something that @bricelam may have some ideas

[2021-02-18 13:59] DurdSoft commented on #56
That makes sense! I've built off your branch some more of the required code changes [here](https://github.com/DurdSoft/EFCore.FSharp/tree/durdsoft/net5.0). 2 of the unit tests are failing and I've side stepped the `Multigraph<T>` issue.

[2021-02-18 14:13] simon-reynolds commented on #56
Perfect! Can you create a PR for that please?
Getting as far as unit tests running in order to fail means you're ahead of me 😀

[2021-02-20 09:16] DurdSoft commented on #56
I've updated my branch to fix the tests. Most the work is don't to migrate to `AnnotationCodeGenerator`.

There's a failing test still - the one related to snapshot enum generation that was commented out. I think there's a genuine issue here. The C# generation up to the same point looks like:

[code]

Whereas the F# version:

[code]

This was probably broken in the code in 3.1 as well.

[2021-02-20 13:01] simon-reynolds commented on #56
That's some really great work! Can you create a PR again for these changes please?

@bricelam, whenever you get a chance to see this, can you add @DurdSoft as a collaborator to this repo?

[2021-02-20 16:43] DurdSoft commented on #56
The issue was related to the missing `Multigraph`. I've added a slightly naive implementation, which is enough to get it over the line - I'll put in a PR :thumbsup:

[2021-02-20 17:57] DurdSoft commented on #56
I've put in another PR for a silly mistake I'd made, sorry!

There are still a few outstanding issues in scaffolding:

- Build is failing - not too sure what's changed on this ?

- `HasIndex` is failing now where it worked on 3.1. The overload resolution is always on somewhat shaky ground with the way F# plays. In this screenshot, it should be using the `Expression<_>, string` overload but doesn't

[2021-02-20 19:20] simon-reynolds commented on #56
I'm working my way through the `DbContextGenerator` so I'll take care of `ToTable`

Looks like the compiler currently thinks the expression is supposed to a tuple of `obj * string` so you should be able to get `HasIndex` working if you put parentheses around the expression
`.HasIndex((fun e -> e.EntityId :> obj), "exntity_id_idx")`

[2021-02-21 10:06] DurdSoft commented on #56
D'oh, of course. I'm going to look into migrating more of the unit tests so we can get it  1 to 1 with C#. I'm surprised none of the existing ones have caught that missing `ToTable(...)` call - and there'll probably be similar bits like that in their as well.

[2021-02-21 12:29] simon-reynolds commented on #56
Cool, I'm going to look at tidying up the implementations in Snapshot, DbContext and Migration generators so bring them more in line with the changes in EFCore for net5.0

[2021-02-22 10:42] simon-reynolds commented on #56
Hi @DurdSoft
The enum test now passes, if we can add more tests to bring to parity with C# that would be great

[2021-02-26 16:29] GunnerGuyven commented on #55
I believe this was only half-fixed.  While the field used is now correct, the value supplied is still incorrect.

- original: `oldType = "typedefof<int>"`
- current: `oldClrType = "typedefof<int>"`
- expected: `oldClrType = typedefof<int>`

This is tested at 63822f4d (current master branch).

I looked around and this seemed the most relevant ticket. I apologize if I was incorrect.

[2021-02-26 16:49] simon-reynolds commented on #55
Hi @GunnerGuyven, you're absolutely right
Thanks for this, I'll add a fix for it later today if I get a chance

[2021-02-26 19:26] bricelam commented on #56
@simon-reynolds I've added @DurdSoft and made you an admin.

[2021-02-26 20:57] DurdSoft commented on #55
I think I ran into this issue and fixed it as part of the [net 5.0](https://github.com/efcore/EFCore.FSharp/blob/98b99c1e164d5f82a4071c93b258749e7c590720/src/EFCore.FSharp/Migrations/Design/FSharpMigrationOperationGenerator.fs#L185) work.

[2021-02-26 21:01] simon-reynolds commented on #55
I see that. Thanks for the fix

Happy to close this again, unless you specifically need it for EF Core 3.1.5 @GunnerGuyven?

[2021-02-26 21:14] GunnerGuyven commented on #55
I would definitely appreciate the fix in the older version.  I found the 5.0 branch to be too unstable to use right now.  I understand either way, though, it is a minor annoyance that I can fix by hand in my current project.

[2021-02-27 07:28] #55 closed

[2021-02-27 07:29] simon-reynolds commented on #55
@GunnerGuyven,
 This has been fixed in latest version on master branch

[2021-02-27 17:54] GunnerGuyven commented on #55
I have tested on 8336dfb0 (current master) and found the fix to be again only partially complete:

` nullable = trueoldClrType = typedefof<string>,`

Notice the missing comma preceding the `oldClrType` argument.  This wasn't an issue before the latest commit.

[2021-02-27 18:02] GunnerGuyven commented on #55
On closer look I see it actually doubled up commas on the right side of the argument, full line:
`migrationBuilder.AlterColumn<string>(
            name = "SiteID"
            , table = "Orders", maxLength = Nullable(11), nullable = trueoldClrType = typedefof<string>,
            , oldType = "Nullable(varchar(10) CHARACTER SET utf8mb4)", oldMaxLength = Nullable(10), oldNullable = true)`

[2021-02-27 19:44] simon-reynolds commented on #55
Sorry, fixed now

[2021-02-27 19:52] GunnerGuyven commented on #55
Confirmed, looks good now.  Thanks so much!

[2021-03-04 11:13] AdhemarVandamme opened #62 ".\build.cmd fails on Windows when FSharpMigrationsGeneratorTest.fs has Unix-style line endings"
When you check-out the EFCore.FSharp code through Git, Git will by default convert the Unix-style line endings (LF) from the code in the repository to Windows-style line endings (CRLF).
This behaviour can be configured globally in Git (also per repository). See [Github doc on configuring Git to handle line endings](https://docs.github.com/en/github/using-git/configuring-git-to-handle-line-endings)

[2021-03-13 18:22] joshuapassos commented on #27
Any updates for nuget release?

[2021-03-18 18:06] simon-reynolds commented on #29
`Nullable` private fields wouldn't be able to work on an F# record types, similar to C# records, private fields do not exist in them

Given that C# records are now a thing, and reference types in C# can now be annotated in not nullable, is there any support for optional types similar to what is planned for record types in https://github.com/dotnet/efcore/issues/11457?

[2021-03-18 19:38] simon-reynolds commented on #22
Closing this as unit test coverage now >60% and expected to keep growing

[2021-03-18 19:38] #22 closed

[2021-03-20 14:22] tomiaijo commented on #56
I tested the net5.0 branch. Migrations seems to created ok, but have a few minor issues.

Two opens missing:
[code]

Some syntax errors:
- Two commas after name in `CreateTable`
- Fields have comma missing between nullable and type, and an extra comma after type
- Fields have extra comma at the end

![image](https://user-images.githubusercontent.com/700008/111871913-3529db00-8995-11eb-8bf5-ede77e8

[2021-03-20 14:59] simon-reynolds commented on #56
Hi @tomiaijo
Thank you so much for the feedback and the kind words

I'll see what I can do about these issues and hopefully we'll then be in a good enough state to be able to release a NuGet package

[2021-03-20 16:55] simon-reynolds commented on #56
Hi @tomiaijo,
Can you try this with the latest commits on the net5.0 branch?
I just pushed a change to correct an issue affecting CreateTable operations

I couldn't see the issues you encountered though. I was able to create an example using basic MVC authentication at https://github.com/simon-reynolds/EFCore.FSharp.MvcAuth
Can you try with the latest versions and let me know if you're still havin

[2021-03-21 14:48] simon-reynolds commented on #62
gitattributes have been updated as of https://github.com/efcore/EFCore.FSharp/commit/98b99c1e164d5f82a4071c93b258749e7c590720

Will be merged into master branch by #64

[2021-03-21 14:57] #56 closed

[2021-03-21 14:57] #27 closed

[2021-03-21 14:57] #62 closed

[2021-03-21 17:57] simon-reynolds commented on #26
In addition to our getting started guide at https://github.com/efcore/EFCore.FSharp/blob/master/GETTING_STARTED.md, we also have online documentation now available at https://efcore.github.io/EFCore.FSharp/index.html

[2021-03-21 17:57] #26 closed

[2021-03-21 17:59] simon-reynolds commented on #17
A sample implementation of AspNet.Identity in F# is available at https://github.com/simon-reynolds/EFCore.FSharp.MvcAuth

NuGet package published so Scaffold-DbContext and Add-Migration now works in F#

[2021-03-21 17:59] #17 closed

[2021-03-26 17:15] GunnerGuyven commented on #54
The `updateBlogPost` function can be made generic with some prep work:
1. create an interface for retrieving the PK value
[code]
2. have your table type use the interface
[code]
3. Redefine update in this way
[code]
The benefit to this is that you don't need an object-specific update methods scattered around.  This is working for me so far and I don't see a problem with it yet.  Putting it here in

[2021-03-26 21:02] simon-reynolds commented on #54
Thanks @GunnerGuyven

I like your `ITable` solution though, will definitely add it to the documentation.
Even though F# does also allow member constraints on properties, an interface is more explicit

The project also has a generic version of `updateEntity` [here](https://github.com/efcore/EFCore.FSharp/blob/master/src/EFCore.FSharp/DbContextHelpers.fs)

`updateEntity (ctx: #DbContext) (key: 'a ->

[2021-03-26 21:37] GunnerGuyven commented on #54
I'm glad to hear about this, because I didn't find that method in my searching.  The `SaveChanges` is indeed a deal-breaker for me because i'm doing a macro operation and I want to apply a number of entity updates before saving them all together.  I'm both glad you're intending to change that, and also happy to see that signature: it has the benefit of allowing composite keys (I have one in my con

[2021-03-27 17:10] simon-reynolds commented on #54
Hi @GunnerGuyven
I've published a new version (5.0.3-alpha2) to NuGet, includes a whole lot of DbContext methods in the `EntityFrameworkCore.FSharp.DbContextHelpers` module

* `updateEntity` no longer calls `SaveChanges`
* has some other more F#-ish wrappers around `DbContext` including a `tryFindEntity` that returns an `option`
* Async versions of all that use `async { ... }`

There's some exampl

[2021-03-28 12:58] simon-reynolds opened #66 "Support for modelling Discriminated Unions"
The F# Discriminated Union (DU) is a sum type where a type can contain a value of (e.g.) type `A` or `B`, but not both, for instance

[code]

The constituent types can be empty like above, or can have associated values, including plain types, complex types like records, or even other union types
[code]

EFCore.FSharp needs to be able to handle these types and
* Generate valid migrations that can e

[2021-03-29 19:12] GunnerGuyven commented on #54
This is excellent!  I have one small complaint.  The signature:
[code]
requires the usage:
[code]
but if you altered it to:
[code]
you'd save the consumer the cast to `obj`:
[code]
I realize this may not be feasible due to things happening elsewhere in your API, I haven't tried to make it work except in my own code so far (and it seems to).

[2021-03-31 02:26] zelenij opened #67 "Unable to access record fields via lambdas via EntityTypeBuilder"
**Describe the bug**

Unable to access record fields via lambdas via EntityTypeBuilder - fails at run time during migration.

**To Reproduce**
Steps to reproduce the behavior:

Create a IEntityTypeConfiguration class for a record EF Core F# type.
Inside Configure(builder: EntityTypeBuilder<MyType> try to access a property via lambda:
      builder.Property(fun x -> x.FieldName)
Register this new I

[2021-03-31 08:37] zelenij commented on #67
I did some further digging and it "seems" like converting 'a -> 'b function to Experession<Func<'a, 'b>> should be enough to achieve the goal, but doesn't seem to work.  I have the following conversion code now:

    let getNameFromBuilder (builder: EntityTypeBuilder<'a>) (extractor: 'a -> 'b) =
        let expr = <@ Func<'a, 'b>(extractor) @>
        let res =
            QuotationToExpression ex

[2021-03-31 08:47] simon-reynolds commented on #67
Hi @zelenij
Is the record marked with a `[<CliMutable>]` attribute?

That will cause it to behave similarly to a C# class under the hood

[2021-03-31 08:50] zelenij commented on #67
Yes, it is.  Here is an example (getNameFromBuilder from the previous comment):

    [<CLIMutable>]
    type CoreEventInfo =
        {
            Id: int64
            User: User
            CreatedAt: DateTime
            LastUpdated: DateTime
        }

    type CoreEventInfoConfiguration() =
        interface IEntityTypeConfiguration<CoreEventInfo> with
            member this.Configure(builde

[2021-03-31 08:54] simon-reynolds commented on #67
Thanks, I'll take a look and see what's going on
Is there anything particular going on in the `User` type?

[2021-03-31 08:57] zelenij commented on #67
Not really. For the same of testing, feel free to drop it from the index and the record itself, it's not important.

[2021-03-31 09:51] simon-reynolds commented on #67
I'm having difficulty getting the call to `builder.HasIndex` to compile

According to the [docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.metadata.builders.entitytypebuilder.hasindex?view=efcore-5.0) `HasIndex` just takes string parameters, not lambdas

Is there anywhere you can post a minimal working reproduction?

[2021-03-31 09:58] simon-reynolds commented on #67
The IndexExperession is of type `Expression<Func<T, object>>` so you need to cast the result to `obj`

Can you try this and let me know if it works? (I replaced User with UserId of type `int64` in your example)

[code]

[2021-03-31 12:32] #67 closed

[2021-03-31 13:38] zelenij opened #68 "System.InvalidOperationException: The entity type 'CustomAttributeData' requires a primary key to be defined"
**To Reproduce**

I have a rather simple entity, defined in project A. I am trying to create migrations in project B, which has A as a reference. I am also trying use ASP.NET Identity with a custom user implementation, if that affects anything.

Entity:

    [<CLIMutable>]
    type Module =
        {
            Id: int
            Name: string
            Version: string
            CreatedAt: Da

[2021-03-31 15:19] GunnerGuyven opened #69 "`System` namespace not included in new migrations"
**Describe the bug**
`open System` is not included in new migrations.  This results in uses of `Nullable`, `DateTime`, and other common types to lack definition references and compilation to fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new migration for database that has any instance of a non-required field anywhere (so that `Nullable` type will be included).
2. Attempt to

[2021-03-31 15:45] simon-reynolds commented on #68
Are you using an `IEntityTypeConfiguration<Module>` to define the Key for `Module`?

If not you'll need to annotate the type like so
[code]

[2021-03-31 15:49] #69 closed

[2021-03-31 15:51] GunnerGuyven opened #71 "Primary Key constraint is missing from all new migrations"
**Describe the bug**
The `constraints` argument is missing in most if not all instances of generated `migrationBuilder.CreateTable` calls.  Especially `table.PrimaryKey` types.

I believe #68 may be related to this.  That deals with conventional detection of PK, but it seems to be all PK constraints are actually missing in the `5.0.3-alpha2` release, even those that are manually demarked with the

[2021-03-31 16:08] simon-reynolds commented on #69
5.0.3-alpha3 released

[2021-03-31 16:53] #68 closed

[2021-03-31 16:53] #71 closed

[2021-03-31 17:04] simon-reynolds commented on #71
Hi @GunnerGuyven
Resolved in https://www.nuget.org/packages/EntityFrameworkCore.FSharp/5.0.3-alpha5 if you can confirm?

[2021-03-31 17:04] simon-reynolds commented on #68
Hi @zelenij
Can you confirm if this issue is resolved for you in https://www.nuget.org/packages/EntityFrameworkCore.FSharp/5.0.3-alpha5

[2021-03-31 19:19] GunnerGuyven commented on #71
I can confirm.  This appears to be addressed.  I have a few edge cases yet to test, but seems good 👍

[2021-04-01 01:01] zelenij commented on #68
Seems to still happen, with the latest version...

[2021-04-01 03:38] zelenij commented on #68
Actually, please ignore for now, seems to be working after some tweaking :)

[2021-04-01 03:48] zelenij opened #73 "Question: any practical differences between 2 types of declarations in DbContext?"
Adding new types to DbContext, your intro suggests this type of syntax

        [<DefaultValue>] val mutable countries : DbSet<Country>
        member __.Countries with get() = __.countries and set v = __.countries <- v

Wouldn't it be the same to use this syntax from practical point of view?

        member val Countries: DbSet<Country> = null with get, set

As far as migrations generation, both

[2021-04-01 04:07] zelenij opened #74 "Latest alpha generates invalid F# for migrations"
Looks like the timestamped file from migrations has incorrect indentations, starting from the second table, and that causes to compilation errors, naturally.

First CreateTable is at column 9, but the second is at 13:

![image](https://user-images.githubusercontent.com/5512551/113242069-a1d09e00-92e2-11eb-8f15-fe3b050b7f93.png)

The next CreateTable is already at column 17 and so on.  I could edit

[2021-04-01 11:12] #74 closed

[2021-04-01 11:20] simon-reynolds commented on #74
This has been corrected in https://www.nuget.org/packages/EntityFrameworkCore.FSharp/5.0.3-alpha6

[2021-04-01 13:15] Ryan-Palmer-CIT opened #76 "Subsequent migrations have a missing unit arg to the "Up" method"
Initial migrations are now working since this morning's indentation update, but a subsequent migration will omit the uint arg from its `Up` method and therefore doesn't compile unless you edit it.

![image](https://user-images.githubusercontent.com/66260121/113299361-b3bb3c80-92f4-11eb-99ca-ed1c1ddb7fd8.png)

[2021-04-01 13:18] Ryan-Palmer-CIT opened #77 "Foreign key constraints don't seem to be working"
I have tried setting up a simple two way nav property between some tables.

All the tables are created and indexes are added to the foreign key columns, however no foreign key contraint is added.

I can see some stuff to do with foreign keys in the generated migration file, but it isn't getting applied to the database.

[2021-04-01 15:07] #73 closed

[2021-04-01 15:07] #76 closed

[2021-04-01 15:07] #77 closed

[2021-04-01 15:11] simon-reynolds commented on #77
Hi @Ryan-Palmer-CIT
This should be resolved now in https://www.nuget.org/packages/EntityFrameworkCore.FSharp/5.0.3-alpha7

[2021-04-01 15:11] simon-reynolds commented on #76
Hi @Ryan-Palmer-CIT
This should be resolved now in https://www.nuget.org/packages/EntityFrameworkCore.FSharp/5.0.3-alpha7

[2021-04-01 16:54] Ryan-Palmer-CIT commented on #77
Awesome stuff, thanks for getting it done so quickly!

[2021-04-01 16:55] Ryan-Palmer-CIT commented on #76
Again, thanks for getting it done so quickly :)

[2021-04-02 01:43] zelenij opened #79 "Properties should be "required" by default, if not declared as option or nullable"
I was under impression that by default fields like string, byte[] etc would be automatically flagged as IsRequired.  However, a simple type like this:
[code]
Has Attachment and MimeType fields migration code without IsRequired - when no "Required" attribute is stamped, of course.  Interestingly, all DateTime fields are flagged as IsRequired automatically.

I looked at the code, I can see that the

[2021-04-02 06:32] zelenij opened #80 "HasData seems to generate invalid code"
A simple type:

[code]

Given a list of values, I add them in DbContext:

[code]

The generated migrations code looks invalid:

[code]

[2021-04-03 05:34] zelenij opened #82 "Question: nullable foreign key"
Trying to define a foreign key relationship as option causes the exception below. Is using option the right way to define nullable foreign key?

[code]

[2021-04-03 06:47] simon-reynolds commented on #82
This seems related to #79
It looks like the way option types work has suffered from some bit rot since they were first implemented
Trying to identify the best solution at the moment

[2021-04-04 13:10] simon-reynolds commented on #29
Seems like this could be solved by https://github.com/dotnet/efcore/issues/22542

[2021-04-04 13:15] simon-reynolds commented on #79
Original implementation for handling `option` types is broken
Attempting to work around it with usage of `ValueConverterSelector` but `ValueConverters` has issues at the moment around handling null values
Will keep an eye on https://github.com/dotnet/efcore/issues/13850

[2021-04-04 13:26] simon-reynolds commented on #80
Hi @zelenij
This should be resolved now by https://www.nuget.org/packages/EntityFrameworkCore.FSharp/5.0.3-alpha8

[2021-04-05 07:02] zelenij commented on #80
Thanks, will give it a go a bit later! :)

[2021-04-05 07:03] zelenij commented on #79
Fun, looks like they have gone through a few iterations with this one already! :)

[2021-04-06 19:14] simon-reynolds commented on #73
No, it does seem that this approach does result in the members remaining `null` at runtime
I'll revert these changes in the documentation

[2021-04-07 04:33] zelenij commented on #73
Looks like this has been raised in the past: https://github.com/fsharp/fslang-suggestions/issues/103

[2021-04-17 04:04] zelenij commented on #79
@simon-reynolds any thoughts on the issue? Supporting option feels like rather fundamental. I see there have been no updates on the issue in the efcore project you linked - is it an absolute blocker?

[2021-04-17 12:54] simon-reynolds commented on #79
Hi @zelenij
At the moment ValueConverters are not called for null values in the database so it is a blocker
I'm trying to see what other ways there may be to get around this

[2021-04-18 14:59] flensrocker commented on #80
Hi,
I'm using 5.0.3-alpha9. There seems to a little mistake at the end of each record.

Code generated:
[code]
Should be:
[code]
The `:> obj` cast is not inside the bracket. And it's missing at the last record.

Thank you!

[2021-04-18 15:06] flensrocker commented on #80
And there is an error FS0039 in `BuildTargetModel`, in my case the `Id` property can't be resolved (I only have the german error message).
Maybe it should be an anonymous record at that place (that's what gets suggested as a fix)?

Sorry, I'm new to F#... :)

Generated:
[code]
Should be?
[code]

[2021-04-18 16:27] simon-reynolds commented on #80
Hi @flensrocker
You're absolutely right, that should be an anonymous record type in the `HasData` method

I've just released https://www.nuget.org/packages/EntityFrameworkCore.FSharp/5.0.3-alpha10 if you can take a look, should address both issues

[2021-04-18 16:33] flensrocker commented on #80
I will take a look later this evening or tomorrow. Thank you!

[2021-04-18 16:44] flensrocker commented on #80
Can't wait... :)

It works in my case!

[2021-04-18 18:12] #80 closed

[2021-05-07 18:15] rstm-sf opened #84 "Module opening is not generated for an entities for migrations"
**Describe the bug**
Module opening is not generated for an entities for migrations

**To Reproduce**
Steps to reproduce the behavior:
1. `dotnet new -i "giraffe-template::*"`
2. `dotnet new giraffe -o smthProject`
3. https://github.com/efcore/EFCore.FSharp/blob/master/GETTING_STARTED.md#add-design-time-services-interface-to-our-codebase
4. ...
5.
<details>

[code]

[code]

[code]

</details>

**E

[2021-05-08 00:04] bricelam opened #85 "Automatically add design-time services"
**Is your feature request related to a problem? Please describe.**
Is there any way to avoid requiring users to manually add their own IDesignTimeServices implementation?

**Describe the solution you'd like**
The EFCore.VisualBasic project includes [an MSBuild file](https://github.com/efcore/EFCore.VisualBasic/blob/0fcff55b722e169e5da74b774a0ba9c4b0008e6f/EFCore.VisualBasic/build/netstandard2.1/En

[2021-05-08 15:57] simon-reynolds commented on #85
Thanks for the tip @bricelam

[2021-05-08 16:03] #85 closed

[2021-05-08 16:10] simon-reynolds commented on #84
Hi @rstm-sf
Thank you for the excellent bug report! I'll reproduce this and see how soon I can get a fix out

[2021-05-08 16:37] simon-reynolds commented on #84
Hi @rstm-sf
I haven't been able to reproduce this locally using the latest changes, I was able to run `dotnet ef database update` successfully
Can you try updating to https://www.nuget.org/packages/EntityFrameworkCore.FSharp/5.0.3-beta001 please?

This release removes the requirement to implement `DesignTimeServices.fs` yourself so you can remove that file from your project now

[2021-05-08 16:44] simon-reynolds commented on #79
@zelenij, dotnet/efcore#13850 has been closed but the functionality that allows conversion of null values will be available from EFCore 6 onwards

I'm afraid full option support will only really be feasible from then.
I'll use this ticket to track development against the EF Core 6 preview builds for handling option values

[2021-05-08 17:19] rstm-sf commented on #84
I'm fine with this version too. Thank you!

[2021-05-08 17:19] #84 closed

[2021-05-10 18:02] rstm-sf opened #88 "Example property for `DbSet` does not work"
## Description

Example property for `DbSet` does not work. This bug?

[code]

https://github.com/efcore/EFCore.FSharp/blob/master/GETTING_STARTED.md#update-the-model

In my option
[code]

![image](https://user-images.githubusercontent.com/2669927/117703514-6626cf00-b1d2-11eb-8bfa-711d44ba77f5.png)

But work with
[code]
![image](https://user-images.githubusercontent.com/2669927/117703828-cf0e4700-

[2021-05-11 09:37] simon-reynolds commented on #88
Hi @rstm-sf

Thank you for letting me know about this, I'll have to update that documentation

If you instead define your properties like this, it should work. Turns out that reflection setters in EF don't play nice with `Unchecked.defaultof<'a>`

[code]

[2021-05-11 09:42] rstm-sf commented on #88
Ok, thanks!

[2021-05-20 08:44] #88 closed

[2021-05-20 22:56] lucasteles opened #92 "Filtering by an option column"
There is any way to translate a filter by an Option property to sql ?

For instance, this query will throw an error:
[code]

Workaround
One option is use the EF.Property

[code]

### UPDATE:

I managed a way to make the translation work [here](https://github.com/lucasteles/efcore-fsharp-playground/blob/master/Translators.fs)
It will even make filter by option `Value`  possible
[code]
Do you think

[2021-05-21 17:51] simon-reynolds commented on #92
Looks like some custom function may be needed to allow a direct comparison

As a workaround, this should work
[code]

Haven't looked in any detail yet but as a first guess I would imagine that it's probably executing on the client side by bringing back the entire `Persons` DbSet first

[2021-05-21 17:53] simon-reynolds commented on #92
Just saw your update now
Those are some excellent workarounds!  And those translations should definitely be part of this repo if you'd be willing to create a PR?

[2021-05-21 18:00] lucasteles commented on #92
Of curse @simon-reynolds

I will create a PR with this translations!

[2021-05-25 10:47] #92 closed

[2021-06-06 10:17] jkone27 opened #99 "Add Dotnet Templates with EFCore"
does this have to rely on Paket, is it available as a dotnet template for mvc? that would be great

[code]

and also

[code]

but I think paket could be kept out from simple templates to make it more accessible to "standard" .net devs.
In the end EF is the battle-proof db access .NET orm standard...  so it would be handy to have it in F# as a "default" choice

[2021-06-15 18:10] LiteracyFanatic opened #100 "Scaffolding generates incorrect attribute"
I just scaffolded an existing database and the results won't build because `[<ColumnAttribute(Type = "datetime")>]` should be `[<ColumnAttribute(TypeName = "datetime")>]`.

[code]

https://github.com/efcore/EFCore.FSharp/blob/bfac45088d362b4bf7784dd87e5af7b5e190865a/src/EFCore.FSharp/Scaffolding/FSharpEntityTypeGenerator.fs#L108

[2021-06-15 22:00] bricelam commented on #99
Oh I like the idea of adding it to the [StarterWeb-FSharp template](https://github.com/dotnet/aspnetcore/tree/main/src/ProjectTemplates/Web.ProjectTemplates) behind the `--auth Individual` option like it is in C#. Even if the future of that option is [a little uncertain](https://devblogs.microsoft.com/aspnet/asp-net-core-6-and-authentication-servers/)...

[2021-06-15 23:36] LiteracyFanatic opened #101 "Scaffolding doesn't set table name correctly"
**Describe the bug**
I have a table in an existing database named `VendorProfile`. Scaffolding yields an entity named `VendorProfile` which is fine. But when I make a change and try to create a migration it pluralizes the name of the table to `VendorProfiles` which causes the migration to fail. I understand that removing an s from the end of a table name when creating an entity is expected behavio

[2021-06-16 02:28] LiteracyFanatic opened #102 "Missing calls to HasIndex in ContextModelSnapshot.fs after scaffolding"
**Describe the bug**
Scaffold an existing table that has an index with a name which differs from the default index name EF Core would use. The resulting `DbContext` will contain the appropriate calls to `HasIndex` to use the existing names. Then create a new migration. The calls to `HasIndex` will be missing the original names in the migration and snapshot file. Subsequent migrations will try to `

[2021-06-16 11:26] simon-reynolds commented on #100
Hi @LiteracyFanatic, thanks for raising this!

[2021-06-16 11:28] simon-reynolds commented on #99
Definitely! I'll see if I can put together a PR to add support for that

[2021-06-16 18:46] #100 closed

[2021-06-16 18:46] #101 closed

[2021-06-16 18:46] #102 closed

[2021-06-16 19:11] simon-reynolds commented on #100
Hi @LiteracyFanatic
This should be resolved now in https://www.nuget.org/packages/EntityFrameworkCore.FSharp/5.0.3-beta004

[2021-06-16 19:11] simon-reynolds commented on #101
Hi @LiteracyFanatic
This should be resolved now in https://www.nuget.org/packages/EntityFrameworkCore.FSharp/5.0.3-beta004

[2021-06-16 19:11] simon-reynolds commented on #102
Hi @LiteracyFanatic
This should be resolved now in https://www.nuget.org/packages/EntityFrameworkCore.FSharp/5.0.3-beta004

[2021-06-19 07:15] LiteracyFanatic opened #104 "Migrations try to make columns nullable that already are"
**Describe the bug**
Consider the following simple model.

[code]
[code]
The `Up` method in the initial migration correctly creates the table with the `Date` column being nullable.

[code]

However, `BuildTargetModel` in the migration and `BuildModel` in the snapshot don't recognize the `Date` column as being nullable.

[code]

As a result, when diffing with the snapshot to create a new migration,

[2021-06-27 20:13] Reenuay opened #105 "Namespace or module "EntityFrameworkCore" is not defined."
Thank you for your work first of all.

**Describe the bug**
«Namespace or module "EntityFrameworkCore" is not defined.»

**To Reproduce**
Steps to reproduce the behavior:
1. Follow this [guide](https://github.com/efcore/EFCore.FSharp/blob/master/GETTING_STARTED.md) and create F# console app.
2. Add EntityFrameworkCore.FSharp.
3. Try to open EntityFrameworkCore.FSharp in any module.

**Expected beh

[2021-06-28 09:10] SimenLK commented on #105
Hey, @Reenuay. I fixed this by modifying the .fsproj file. When adding the package (nuget) and specifying the version number, some additional information is added to the package reference in the .fsproj file. By removing the include assets and private assets tags, if there are any, fixed the problem for me. I do not know why. :)

[2021-06-28 09:19] Reenuay commented on #105
Hey, @SimenLK! Thank you for your answer! It really solved the issue. I don't understand why either X)

[2021-06-28 09:19] #105 closed

[2021-06-28 09:24] simon-reynolds commented on #105
Thanks for answering this @SimenLK!
And thank you for raising it @Reenuay

I'll take a look and see why these tags are being added to the fsproj file

[2021-07-09 22:11] LiteracyFanatic commented on #29
Thought I would post a small working sample since it took me a while to figure out how exactly

translates to code.

[code]

[2021-07-16 06:59] #54 closed

[2021-08-09 17:50] simon-reynolds commented on #104
Resolved by #107
Will release 5.0.3-beta005 in the next few minutes

[2021-08-09 17:50] #104 closed

[2021-08-09 18:00] LiteracyFanatic commented on #104
Awesome! This should make migrations much easier to review. Thanks so much.

[2021-08-17 12:31] simon-reynolds opened #109 "Scaffold Many-to-Many table join"
Respond to https://github.com/dotnet/efcore/pull/25544

[2021-08-17 15:00] lucasteles opened #110 "The migrations generate F# code in a C# project"
I'm working in a project that mix F# and C#, today the DbContext is in the C# part,
I would like to use some of the features of this package, but the generated migration is a mix of C# and F# (which does not compile)

[code]

[2021-08-17 15:30] simon-reynolds commented on #110
Hi @lucasteles

Currently the `EntityFrameworkCore.FSharp.props` file should only register `EFCoreFSharpServices` if the project it's installed into is an F# project.

A possible workaround would be to register your own implementation of `IDesignTimeServices` that restores the default c# generators
Looking at `EFCoreFSharpServices.fs`, simply replacing every instance of FSharp with CSharp and remo

[2021-08-18 06:37] simon-reynolds commented on #105
Resolved in package 5.0.3-beta006

[2021-08-31 19:48] Reenuay opened #111 "Serialization/Deserialization throws exception when a target type is not public"

[2021-08-31 19:51] #111 closed

[2021-09-17 01:41] bricelam commented on #110
Hmm... this bug might belong in [dotnet/efcore](https://github.com/dotnet/efcore). I wouldn't be surprised if I accidentally used the startup project's language instead of the target/migrations project's language.

[2021-09-22 21:48] bricelam opened #112 "Support EF Core 6"
Howdy! We're starting to wind down on the EF Core 6 release, and I wanted to reach out to see if you needed any support from us.

The big new language-dependent design-time changes I can remember are:

* Scaffolding many-to-many relationships (already tracked by #109)
* Temporal tables (just need to support a [new pattern](https://github.com/dotnet/efcore/pull/24562/files#diff-d464e59a794ae7fd54b1

[2021-09-28 16:17] simon-reynolds commented on #112
Hi @bricelam
I've started work on EF Core 6.0 support, have NestedClosureCodeFragment support, and working on the many-to-many relationships

I also want to use the changes to ValueConverters to support null (dotnet/efcore#13850) to allow translating nullable database columns to Option types

I'll see what I can do for compiled models, creating an implementation `FSharpRuntimeModelCodeGenerator` m

[2021-10-12 09:56] LiteracyFanatic opened #113 "Support isNull and isNotNull in queries"
**Is your feature request related to a problem? Please describe.**
Queries that use `isNull` fail to translate.

**Describe the solution you'd like**
Support the `isNull` function.

**Describe alternatives you've considered**
Using `value = null` works so this isn't super important, mostly stylistic. FSharpLint will suggest using `isNull` instead but following this suggestion leads to code that do

[2021-10-16 14:15] #113 closed

[2021-10-16 14:59] LiteracyFanatic commented on #113
Thanks!

[2021-10-18 20:32] lucasteles opened #116 "No ModelSnapshot was found."
**Describe the bug**

The is to things that I think are correlated.

When I run:
[code]

It generates two equal migrations, with the same code, In C#  the second migration would be empty.

When I try to remove the migrations with:
`dotnet ef migrations remove  -ft

I get an error

[code]

It never creates an empty migration, *I think* that is because it is no finding de snapshot

**To Reproduce**

[2021-10-27 14:38] #116 closed, assigned to simon-reynolds

[2021-11-09 17:09] #79 closed

[2021-11-09 17:09] #109 closed

[2021-11-09 17:09] #112 closed

[2021-11-09 17:34] simon-reynolds opened #117 "AltCover not playing nicely with unit tests"
**Describe the bug**

Running build script with default parameters results in failed tests.
Coverage must be disabled to allow tests to run correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Run build script
2. See tests fail

**Expected behavior**
Tests should run correctly

**Screenshots**
![image](https://user-images.githubusercontent.com/1778392/140975111-cc4e421e-1a05-4d19-91dd-0

[2021-11-11 21:30] ntwilson opened #118 "Failure to compile database-first Context in 6.0.1"
**Describe the bug**
When running `dotnet ef dbcontext scaffold` on my database, I'm getting F# code that fails to compile since the v6 upgrade.  I'm seeing
[code]
where the lambda on the second line infers the wrong type for `d`, since multiple types have a `UserId` field (I'm generating the Domain using F# records, not classes).  The solution I found is to change `.HasForeignKey<Memberships>` to

[2021-11-11 21:48] simon-reynolds commented on #118
Hi @ntwilson
Thank you so much for the feedback. If you can include a SQL sample of the relevant tables I'd really appreciate it
I'll take a look at this as time allows over the next couple of days

[2021-11-11 22:03] ntwilson commented on #118
Thanks @simon-reynolds!
From the errors, these are the only tables that I can see are involved, and I can share all of them:
[code]
However I can't say for sure that with only these 5 tables it reproduces all of the issues or if other tables (that I probably can't share) are involved in making the errors show up. I can probably get that answer to you tomorrow.

[2021-11-12 17:05] ntwilson commented on #118
Okay, I just verified that I can observe all the errors in the description when I create a new database with that script, and start a new EFCore.FSharp project using that database.  The command I used to do the code-gen was

[code]

[2021-11-13 16:30] #118 closed

[2021-11-13 16:35] simon-reynolds commented on #118
This has been fixed, releasing [6.0.2](https://www.nuget.org/packages/EntityFrameworkCore.FSharp/6.0.2) now to NuGet

[2021-11-13 18:57] ntwilson commented on #118
Wow, thanks for the fast work!

[2021-11-13 22:01] Ciantic opened #120 ".NET 6 - EnsureCreated creates all fields nullable"
**Describe the bug**
I'm using .NET 6, so this might be something new. With C# I get all fields as `NOT NULL`, but with F# all fields are nullable. Code is practically same, here is F# code:

E.g. F# code:

[code]

I get this in the command line as I start:

[code]

**Expected behavior**
[code]

It's notable that both projects (C# csproj and F# fsproj) project has these settings:

[code]

I suspec

[2021-11-14 08:51] simon-reynolds commented on #120
Hi @Ciantic
Thank you for the feedback, I agree that the `TEXT` columns should be non-nullable, the intention here is that any record property that isn't a nullable or option type should be non-null by default.

[2021-11-14 10:19] Ciantic commented on #120
@simon-reynolds I was just wondering how these can even differ between C# and F#? The C# must be pre-configuring the EF somehow, I'd like to configure F# similarily so that all fields are NOT NULL.

I suspect the reason EF does this now, is because it detects `<Nullable>enable</Nullable>` in the csproj and enables non-nullability.

I want same behavior in F#, do you know how?

Thanks.

[2021-11-14 10:33] simon-reynolds commented on #120
You can get the same behaviour for now by using Attributes on the Person record like so

[code]

I'm looking now at how to define this behaviour by default and hope to have a fix for this in the coming days

[2021-11-18 22:01] LiteracyFanatic opened #121 "Migrations don't compile"
**Describe the bug**
In previous versions, migrations were generating code like this

[code]

but in `v6.0.2` it now generates the following

[code]

which fails to compile

[code]

Code using `Navigation` also fails to restore the indentation level correctly

[code]

**To Reproduce**
Steps to reproduce the behavior:
Run a migration after updating to .NET 6.

**Expected behavior**
Migrations shoul

[2021-11-18 22:11] LiteracyFanatic commented on #121
Found one more code pattern that is broken

[code]

[code]

[2021-11-19 11:45] simon-reynolds commented on #121
Hi @LiteracyFanatic
Thank you for reporting this. If at all possible, can you provide the definition of `LCAccount` and any related entities needed to reproduce the issue?

[2021-11-19 19:37] LiteracyFanatic commented on #121
Here is a minimal piece of code that reproduces the `UseIdentityColumn` and `Navigation` issues when running an initial migration. Unfortunately, I haven't been able to reproduce the `IsClustered` issue in a clean project yet.

[code]

[2021-11-21 12:37] simon-reynolds commented on #121
Hi @LiteracyFanatic
This should be address in v6.0.3 just pushed to NuGet. Looks like the `IsClustered` issue had the same root cause but let me know if you find any other issues

[2021-11-22 11:17] #117 closed

[2021-11-22 12:37] LiteracyFanatic commented on #121
Thanks for looking at this. I can confirm that this fixed the `IsClustered`  and `UseIdentityColumn` problems. It seems that there is still a problem when an entity has more than one navigation property though. I've added the navigation `Address` to `Customer` from my previous example.

[code]

The generated code unidents for each call to `Navigate` like follows

[code]

Instead it should only uni

[2021-11-29 19:26] #121 closed

[2021-11-29 19:31] simon-reynolds commented on #121
Resolved as part of work done in #123
v6.0.4 pushed to NuGet

[2021-11-29 23:03] LiteracyFanatic opened #124 "Missing calls to ignore in migrations"
**Describe the bug**
Migrations fail to compile after #123 because of missing calls to `ignore` for some instances of `AlterColumn`. This is merely a warning most of the time, but causes an error when the last expression changes the return type of `Up` or `Down`.

[code]

Additional issues which don't result in a compilation error:
- A call to `AlterColumn` is generated for every column (even thos

[2021-11-29 23:08] LiteracyFanatic commented on #121
Thanks! I can confirm that calls to `Navigation` are now indented correctly and the initial migration builds successfully.

It looks like #123 has introduced some other issues that appear in subsequent migrations, but everything mentioned in this issue has been addressed so I've opened #124.

[2021-11-30 16:56] simon-reynolds opened #126 "AlterColumn operations included in what should be an empty migration"
A migration with no changes from the last should have no operations

Given the following context, add two migrations
[code]

**Expected behavior**
Second migration should be empty. Instead there are AlterColumn operations created for each Primary and Foreign Key

(Originally reported as part of #124  by @LiteracyFanatic )

[2021-11-30 16:59] simon-reynolds commented on #124
Hi @LiteracyFanatic
Publishing v6.0.5 now which takes care of the code generation so that AlterColumn operations don't produce warnings any more

The AlterColumn operations shouldn't be generated at all, but I'll track that under #126

[2021-11-30 17:00] simon-reynolds opened #127 "Fix GitHub actions for Windows"
GitHub actions fail for Windows despite all tests building and running correctly locally

[2021-11-30 17:52] LiteracyFanatic commented on #124
Confirming that test case builds without error now. Thanks a bunch.

[2021-11-30 17:52] #124 closed

[2021-12-01 16:41] #127 closed

[2021-12-05 17:26] LiteracyFanatic opened #129 "UseFSharpTypes causes ASP.NET Core 6 to throw Microsoft.EntityFrameworkCore.Infrastructure.ManyServiceProvidersCreatedWarning exception"
**Describe the bug**
There seems to be something wrong with the interaction between `UseFSharpTypes` from this library and ASP.NET Core's dependency injection. Things work fine at first, but the code will throw an exception after 20 requests. This was not happening prior to the .NET 6 upgrade.

**To Reproduce**

The follow code demonstrates the issue

[code]

Make more than 20 requests to trigger

[2021-12-05 18:20] simon-reynolds commented on #129
Hi @LiteracyFanatic
That has got to be one of the best big reports I've ever gotten, thank you so much for that!
I'll take a look at this when I can over the next few days

[2021-12-07 07:49] simon-reynolds commented on #129
Fixed in #130

[2021-12-07 11:31] LiteracyFanatic commented on #129
I can confirm that the exception is no longer being thrown. Thanks for all your hard work!

[2021-12-07 11:31] #129 closed

[2021-12-14 03:47] kirse opened #131 "Multi-Part Composite Key causes "Find" Exception using tryFindEntity / updateEntity"
General setup:
[code]
Then try:
[code]

Or this:
[code]

Which causes this:

[code]

Not hugely impactful since `.Find()` can be used directly, but treating `key` as `obj` instead of `obj[]` means composite keys can't be used with the helper functions (and they are helpful in many cases).

[2021-12-20 17:30] sonicbhoc commented on #66
This would be the coolest improvement to EF in general.

[2022-01-09 14:30] #131 closed

[2022-01-16 17:17] #126 closed

[2022-01-21 07:48] simon-reynolds commented on #131
This has been fixed in v6.0.6

The only caveat is that a composite key has to be an `obj[]` or `obj list`, so you'd need to use the second option above

[code]

[2022-02-01 07:54] kirse commented on #131
Awesome, thanks!

[2022-02-02 14:32] simon-reynolds commented on #131
Thank you, it's always great to hear when someone is getting some use out of it

[2022-05-03 08:52] LiteracyFanatic commented on #120
I recently refactored a project of mine to use the following snippet in `OnModelCreating` instead of manually configuring each `string` property.

[code]

Could something like this be included by default when calling `modelBuilder.RegisterOptionTypes()`?

[2022-05-11 06:02] kirse commented on #131
On rev-ing to 6.0.6 it appears the new helper methods now return everything of type `obj` instead of `'a`, is this intended?

Ex:
[code]

[2022-05-11 19:49] nodakai commented on #29
The example above should ideally be as concise as this, with an empty `OnModelCreating()`, right?

[code]

(I actually started from something like this, got various errors, ran dozens of Google searches, accumulated enough knowledge just to understand what is https://github.com/efcore/EFCore.FSharp/issues/29#issuecomment-877482623 all about, and then, could finally adapt it to my code...)

Sadly E

[2022-05-21 18:42] otsomkalov opened #138 "Incorrectly generated migration for newly added bool property"
Hello!
I'm using library to manipulate PostgreSQL DB and facing the next issue

**Describe the bug**
Migration created for newly added bool property to the type contains wrong `defaultValue`

**To Reproduce**
Steps to reproduce the behavior:
1. Create new F# app
2. Create a new type:
[code]
3. Create DbContext:
[code]
4. Setup app to use Postgre DB
5. Create new migration -> everthing is fine, mig

[2022-05-23 03:10] jing8956 commented on #120
Hi @simon-reynolds
Version 6.0.6 seems to have implemented this feature, but a new problem arises: how to make the existing string instead of the Option<string> column can be null?
This problem arises from the fact that: The entity model defines by C# code that cannot be modified by myself, such as `Microsoft.AspNetCore.Identity.IdentityUser`.
I see that all string type properties generate not nul

[2022-06-15 22:59] xperiandri opened #139 "[Single case DUs] The binary operator Equal is not defined for the types `UserId` and `UserId`"
**Describe the bug**
Having such IdentityUser definition
[code]
when I make `UserId` as `and [<Struct>] UserId = UserId of Guid` I get the error

`The binary operator Equal is not defined for the types 'UserId' and 'UserId'`

**Expected behavior**
No error

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone

[2022-06-26 04:05] kirse opened #140 "DbContextHelpers.fs methods return type obj instead of 'a"
Reference back to #131 fix which updated these helpers.

On rev-ing to release 6.0.6 it appears the `DbContextHelpers.fs` helpers return type obj instead of 'a, is this intended?

Ex:

[code]

I think this breaks some of the docs here as well: https://efcore.github.io/EFCore.FSharp//How_Tos/Use_DbContextHelpers.html

[2022-06-26 13:08] simon-reynolds commented on #140
Hi @kirse

Thanks for raising this issue, It most certainly was not intended, I've just released [6.0.7](https://www.nuget.org/packages/EntityFrameworkCore.FSharp/6.0.7) to fix that now

[2022-06-26 13:08] #140 closed

[2022-06-26 13:09] simon-reynolds commented on #20
Closing as duplicate of #43

[2022-06-26 13:09] #20 closed

[2022-06-26 13:12] simon-reynolds commented on #138
Hi @otsomkalov
I've been unable to reproduce this issue, I have released v6.0.7 in the meantime, would you be able to tell me if this is still an issue for you?

[2022-06-26 13:46] simon-reynolds commented on #139
Hi @xperiandri
It looks like the issue is from when trying to set the `UserId` type as your key type

To allow using it you need to implement `IEquatable`
This may be what you need

[code]

Let me know if it works for you or if you had to make any other changes to get it working

[2022-07-05 20:34] otsomkalov commented on #138
Hey @simon-reynolds
I've updated packages in project & also dotnet ef tool and now migration generated corectly.
Thanks for the cool library ❤️

[2022-07-05 20:34] #138 closed

[2022-07-17 18:04] xperiandri opened #141 "[Option] Optional DateTime properties cannot be filtered"
**Describe the bug**
`u.SubscriptionEndDate.Value > DateTime.UtcNow` cannot be translated

[code]
```System.InvalidOperationException: 'The binary operator GreaterThan is not defined for the types 'Microsoft.FSharp.Core.FSharpOption`1[System.DateTime]' and 'Microsoft.FSharp.Core.FSharpOption`1[System.DateTime]'.'```

**Version**
6.0.7

[2022-07-17 23:57] xperiandri commented on #141
Missing `.UseFSharpTypes()` according to https://efcore.github.io/EFCore.FSharp//How_Tos/Use_DbContextHelpers.html was the issue

[2022-07-17 23:57] #141 closed

[2022-07-23 02:22] brud opened #142 "Migration not generated due to single DU"
**Describe the bug**
Migration not generated due to single DU (PageId)

**To Reproduce**
[code]
I have an Exception after `dotnet ef migrations add Init`

`The property 'Content.PageId' is of type 'PageId' which is not supported by the current database provider. Either change the property CLR type, or ignore the property using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.
Ignore' in

[2022-08-04 15:23] GunnerGuyven opened #143 "Bad interaction between Pomelo's connector and Option types"
**Describe the bug**
A migration cannot be created when using `Pomelo.EntityFrameworkCore.MySql` as the connector when an option type is present on the existing (pre-migration) model.

**To Reproduce**
Starting with the following model:
[code]
No Database is necessary, this issue is only concerned with creating migrations.
Steps to reproduce the behavior:
1. `dotnet ef migrations add test1` (no is

[2022-08-04 15:36] simon-reynolds commented on #143
Hi @GunnerGuyven
So Migration 4 is failing even though it has no changes compared to 3? So 4 should just be an empty migration?

Sounds like it could be related to Pomelo if it works with `Microsoft.EntityFrameworkCore.Sqlite`, I notice the stacktrace doesn't mention this projects override of the `ModelDiffer`, `EntityFrameworkCore.FSharp.Migrations.Internal. FSharpMigrationsModelDiffer`

@bricela

[2022-08-04 15:38] GunnerGuyven commented on #143
That's right, there is no model change.  I have narrowed this issue to the presence of the option type itself in the previous migration.  You can construct an elaborate model involving option types and so long as there are no previous migrations (involving option types), the migration will succeed.

[2022-08-04 18:34] GunnerGuyven commented on #143
I have created a project demonstrating this issue

[code]

And opened a ticket with Pomelo to match this one (https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/1700)

[2022-08-04 23:39] GunnerGuyven commented on #143
@simon-reynolds Researching the codebase of Pomelo, I see that they do indeed also add an `IMigrationsModelDiffer` to the EF builder.  This seems done to handle some MySql specific peculiarities with `datetime` and `timestamp` fields in certain situations.  Surely there is a way of navigating when two handlers have been registered in this manner by different stakeholders?

If there is a 'good citi

[2022-08-08 17:53] bricelam commented on #143
If the Pomelo Sqlite connector also overrides IMigrationsModelDiffer would EF just pick up whichever one was registered last?

The model differ is not designed to be overridden by providers or extensions. Additional functionality should instead be enabled using model annotations.

I vaguely remember this. I think there's an EF issue to review this code and see if there's anything we can add to mak

[2022-08-09 15:07] simon-reynolds commented on #143
The F# override is to add support for the `Option<_>` type, it's a wrapper similar to `Nullable<_>`
F# tries to avoid use of `null` as much as possible, so it uses the option type instead that wraps an item that may or may not be capable of having a null value

The F# model differ matches conventions by marking every column that isn't a PrimaryKey as non-nullable unless the CLR type is either `Nul

[2022-08-10 18:16] bricelam commented on #143
Hmm, it feels like this shouldn't be needed in the differ. An F#-specific model building convention should mark the IColumn as IsNullable when the CLR type uses `option`.

/cc @AndriySvyryd

[2022-08-19 11:01] brud commented on #142
Any updates?

[2022-08-26 16:58] eastwing27 opened #144 "How do you create an optional navigation property?"
I'm trying to create Code First DB in F# project and I just can't solve this problem. The idea is to create an optional relation and have a navigation property but if I have option property, EF won't create a migration, If I ignore the property with Fluent API migration is created but it generates extra field and I get this warning:

Here is the examples of models:
[code]

Is it possible to create

[2022-08-28 19:13] eastwing27 commented on #144
Ok, so the problem seems to be deeper as I can not see any way to create an optional relation in F# way at all! If I remove nav property, the EF keeps generating extra ModelId1 prop. At the moment, the only thing that seems to work for me is removing navigation property at all and using Nullable<Guid> for FK.
If it's the only way, I guess I'll have to rewrite the whole DAL with C#.

[2022-08-29 16:38] ntwilson opened #145 "Scaffolding fails if a column uses a DEFAULT value"
**Describe the bug**
If a column in your database is defined with a DEFAULT supplied by the schema, the code generated by `dotnet ef dbcontext scaffold` will include both `.HasDefaultValueSql` (with the DEFAULT supplied by the schema) and `HasDefaultValue` (with the regular default applied to all normal columns).  This causes an exception when trying to execute the project:
[code]

**To Reproduce*

[2022-08-30 10:18] MaceWindu opened #146 "singleCaseUnionMemberTranslator Translate should return null for non-applicable expressions"
`IMemberTranslator.Translate`  should return `null` for unhandled expressions, but implementation in `singleCaseUnionMemberTranslator` returns received expression: https://github.com/efcore/EFCore.FSharp/blob/a43b78c7833f9e9e346c5ff79c855e68620047bf/src/EFCore.FSharp/Translations/SingleCaseUnionTranslation.fs#L12

I don't have isolated test, but it creates issue for us here https://github.com/linq

[2022-09-02 08:36] eastwing27 commented on #144
Is it possible no one faced that problem before? I thought it is something trivial. Or am I duplicating the question? I couldn't find it. If I do, please, point me to the answered one.

[2022-10-09 17:04] EspenBrun opened #147 "Support for empty discriminated union"
Hello,

Thanks for this awesome package!

**Is your feature request related to a problem? Please describe.**
I would like to use an empty discriminated union to hold in my records

[code]

**Describe the solution you'd like**
Something like `registerEmptyUnionCases()`, so I can just use mye EquineBeast DU as normal in by fsharp code.

If a define an Enum, it will be stored as 0, 1, 2 in the databa

[2022-10-14 08:06] EspenBrun opened #148 "Documentation: Guide on how to create a many-to-many relationships"
Hello,

Something that is missing from the guide/documentation is how to create a many-to-many relationship.

**Is your feature request related to a problem? Please describe.**
Looking at the official EF documentation for a many-to-many relationship, it looks like this:

[code]

In F# I can't do it like that since the type must be defined before it is referenced. If I write this in F# I get the er

[2022-10-14 08:08] EspenBrun commented on #148
If I can get some example code here, I can also make a PR to update the documentation

[2022-10-23 14:35] kulshekhar commented on #148
Would something like [this](https://stackoverflow.com/a/1378662/3931609) help here?

[code]

The limitation is that both types have to be defined in the same file

[2022-10-24 11:49] EspenBrun commented on #147
This works
[code]
and
[code]

Would still be nice to just have a `registerEmptyUnionCases()` that handled this for every empty DU

[2022-10-28 23:13] sonicbhoc opened #149 "When trying to call registerSingleCaseUnionTypes from C#, I get an InvalidOperationException"
**Describe the bug**
When calling registerSingleCaseUnionTypes from C#, I get the following result:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Call registerSingleCaseUnionTypes from C#

**Expected behavior**
registerSingleCaseUnionTypes registers single case union types

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Edge 106
 - Versions: Dot

[2022-11-11 09:31] EspenBrun opened #151 "NullReferenceException on second migration"
**Describe the bug**
`Object reference not set to an instance of an object` when running second migration.

I think this is a problem for me specifically, but I have tried quite a lot of things and I am completely stuck, and it is blocking my usage of EF for F#.

I am using entity framework in an F# project (SAFE-stack) and I can create the initial migration, but when I try to do another migration

[2022-11-29 15:18] davidtme commented on #144
@eastwing27 I have just start to take a look at efcore/EFCore.FSharp for a new project and this is the first problem I have hit.

I have play around with the `ScaffoldOptions` and best I could do was setting `ScaffoldNullableColumnsAs = ScaffoldNullableColumnsAs.NullableTypes` which creates code that complies but doesn't run with adding `.IsRequired(false)` to the `modelBuilder`

[code]

However t

[2022-11-30 12:56] eagle-k opened #152 "The Getting Started guide does not work well"
**Describe the bug**
Follow https://github.com/efcore/EFCore.FSharp/blob/master/GETTING_STARTED.md, and `dotnet ef migrations add Initial` fails.

[code]

**To Reproduce**
I will share the actual repository where the error occurred.
https://github.com/eagle-k/FsEfTest

**Expected behavior**
`dotnet ef migrations add Initial` succeeds.

**Desktop (please complete the following information):**
 - OS